<div id="<%= dom_id club %>">
  <p>
    <strong>Tennis school:</strong>
    <%= club.tennis_school_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= club.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= club.description %>
  </p>

  <p>
    <strong>Advance payment percentage:</strong>
    <%= club.advance_payment_percentage %>
  </p>

  <p>
    <strong>Min advance amount:</strong>
    <%= club.min_advance_amount %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= club.active %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= club.information %>
  </p>

</div>
