<div id="<%= dom_id lesson_package %>">
  <p>
    <strong>Name:</strong>
    <%= lesson_package.name %>
  </p>
  <p>
    <strong>Start date:</strong>
    <%= lesson_package.start_date %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= lesson_package.description %>
  </p>
  <p>
    <strong>Costs:</strong>
    <%= lesson_package.costs %>
  </p>
  <p>
    <strong>Open for registration:</strong>
    <%= lesson_package.open_for_registration %>
  </p>
  <p>
    <strong>Register by:</strong>
    <%= lesson_package.register_by %>
  </p>
  <p>
    <strong>Register up to and including:</strong>
    <%= lesson_package.register_up_to_and_including %>
  </p>
  <p>
    <strong>Number of teaching weeks:</strong>
    <%= lesson_package.number_of_teaching_weeks %>
  </p>
  <p>
    <strong>Number of minutes per lesson:</strong>
    <%= lesson_package.number_of_minutes_per_lesson %>
  </p>
  <p>
    <strong>Lessons per week:</strong>
    <%= lesson_package.lessons_per_week %>
  </p>
  <p>
    <strong>Max number of players:</strong>
    <%= lesson_package.max_number_of_players %>
  </p>
  <p>
    <strong>Min number of players:</strong>
    <%= lesson_package.min_number_of_players %>
  </p>
  <p>
    <strong>Optimal number of players:</strong>
    <%= lesson_package.optimal_number_of_players %>
  </p>
  <p>
    <strong>Max number of impediments:</strong>
    <%= lesson_package.max_number_of_impediments %>
  </p>
</div>
